body {
    margin: 0px;
    font-family: "segoe ui";
}
#nav-div{
    background-color: #F8F9FA;
    height: 50px;
    width: 100%;
    align-items: center;
    display: flex;
}
#nav-div button{
    margin: 10px;
}
#footer{
    padding: 20px;
    background-color: #868E96;
    color: black;
    font-weight: 300;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#contact{
    padding-left: 30px;
}